<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.newworld.springbootcodefellow.mapper.UserMapper">

    <!-- 通过用户账号找到该用户信息 -->
    <select id="findUserByAccount" parameterType="java.lang.String" resultType="cn.newworld.springbootcodefellow.model.entity.User">
        SELECT * FROM user WHERE account = #{account}
    </select>

    <!-- 通过用户名找到该用户 -->
    <select id="findUserByUsername" parameterType="java.lang.String" resultType="cn.newworld.springbootcodefellow.model.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <!-- 通过用户邮箱找到该用户 -->
    <select id="findUserByEmail" parameterType="java.lang.String" resultType="cn.newworld.springbootcodefellow.model.entity.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <!-- 向用户表中插入一条用户数据 -->
    <insert id="insertUser" parameterType="cn.newworld.springbootcodefellow.model.entity.User">
        INSERT INTO user (uuid, account, password, username, email, phoneNumber, registrationTime
            <if test="recommender != null">, recommender</if>)
        VALUES (#{uuid}, #{account}, #{password}, #{username}, #{email}, #{phoneNumber}, #{registrationTime}
            <if test="recommender != null">, #{recommender}</if>)
    </insert>

    <!-- 通过用户uuid找到该用户 -->
    <select id="findUserByUUID" parameterType="java.lang.String" resultType="cn.newworld.springbootcodefellow.model.entity.User">
        SELECT * FROM user WHERE uuid = #{uuid}
    </select>

    <!-- 通过用户uuid、账号、用户名找到该用户 -->
    <select id="findUserByUuidAndAccountAndUsername" parameterType="java.lang.String" resultType="cn.newworld.springbootcodefellow.model.entity.User">
        SELECT * FROM user WHERE uuid = #{uuid} AND account = #{account} AND username = #{username}
    </select>
    
    <!-- 更新用户账号状态 -->
    <update id="updateStatus" parameterType="java.lang.String">
        UPDATE user
        SET status = #{status}
        WHERE uuid = #{uuid} AND account = #{account} AND username = #{username}
    </update>

    <!-- 更新用户账号验证情况 -->
    <update id="updateVerification" parameterType="map">
        UPDATE user
        SET isVerification = #{verification}
        WHERE uuid = #{uuid} AND account = #{account} AND username = #{username}
    </update>

    <!-- 向user表插入一条用户数据 -->
    <insert id="putUserTest" parameterType="cn.newworld.springbootcodefellow.model.entity.User">
        INSERT INTO user (uuid, account, password, username, email, status, isVerification ,registrationTime)
        VALUES (#{uuid}, #{account}, #{password} ,#{username}, #{email},  #{status}, #{isVerification},#{registrationTime})
    </insert>

</mapper>
